examples-private/
/trash/
rdoc/*
.com.apple.timemachine.supported
.DS_Store
*tmp*
pkg/*.tgz
pkg/*.gem
pkg/poolparty*/*
.git/
log/*
test_manifest.pp
**/*/erl_crash.dump
log
*.beam
ri/
.autosession.vim
tags
.session
clouds.rb
test/test_dir/
examples/thrift/erlang/deps/thrift/ebin/*.beam
examples/thrift/erlang/ebin/*.beam