[submodule "vendor/gems/parenting"]
	path = vendor/gems/parenting
	url = git://github.com/auser/parenting.git
[submodule "vendor/gems/dslify"]
	path = vendor/gems/dslify
	url = git://github.com/auser/dslify.git
[submodule "vendor/gems/suitcase"]
	path = vendor/gems/suitcase
	url = git://github.com/auser/suitcase.git
[submodule "vendor/gems/git-style-binaries"]
	path = vendor/gems/git-style-binaries
	url = git://github.com/jashmenn/git-style-binaries.git
[submodule "vendor/gems/rest-client"]
	path = vendor/gems/rest-client
	url = git://github.com/adamwiggins/rest-client.git
[submodule "vendor/gems/trollop"]
	path = vendor/gems/trollop
	url = git://github.com/jashmenn/trollop.git
