.com.apple.timemachine.supported
.DS_Store
*tmp*
pkg/*.tgz
pkg/poolparty*/*
.git/
log/
log/*
test_manifest.pp
# erl_crash.dump
*erl_crash.dump*
log
*.beam
ri/
doc/
config/manifest.pp
vendor/dependencies/cache
vendor/dependencies/packages