[submodule "vendor/gems/parenting"]
	path = vendor/gems/parenting
	url = git://github.com/auser/parenting.git
[submodule "vendor/gems/dslify"]
	path = vendor/gems/dslify
	url = git://github.com/auser/dslify.git
[submodule "vendor/gems/suitcase"]
	path = vendor/gems/suitcase
	url = git://github.com/auser/suitcase.git
[submodule "vendor/gems/butterfly"]
	path = vendor/gems/butterfly
	url = git://github.com/auser/butterfly.git
